@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Roboto:wght@500&display=swap');
/*Estilos Generales*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

footer{
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check{
  display: none;
}
body {
  background-color: rgb(255, 255, 255)
}

/*Estilos para la nav bar*/

.header {
  background-color: rgb(30, 0, 36);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 5px 10%;
}
.menu-icon {
  cursor: pointer;
  font-size: 24px;
  display: none;
}

.header .logo {
  cursor: pointer;
  position: relative;
  display: inline-block;
 }
 
 
.header .logo img {
  height: 70px;
  border-radius: 25px;
  width: auto;
}

.header .nav-links {
  list-style: none;
}

.header .nav-links li {
  display: inline-block;
  padding: 0 20px;
}

.header .nav-links li:hover {
  transform: scale(1.1);
}

.header .nav-links a {
  font-size: 700;
  color: rgb(255, 252, 247);
  text-decoration: none;
}

.header .nav-links li a:hover {
  color: rgb(120, 0, 145);
  transition: all 0.4s ease 0s;
}
/* Media query for mobile */
@media only screen and (max-width: 768px) {
  .header .nav-links {
      display: none;
      flex-direction: column;
      width: 100%;
      text-align: center;
      position: absolute;
      top: 80px;
      left: 0;
      background-color: rgb(30, 0, 36);
  }

  .header .nav-links.show {
      display: flex;
  }

  .menu-icon {
      display: block;
      position: absolute;
      top: 25px;
      right: 30px;
  }

  #menu-toggle {
      display: none;
  }

  #menu-toggle:checked + .menu-icon + .header .nav-links {
      display: flex;
  }
}
/*Estilos de vista de presentacion*/
.presentacion {
  display: block;
  margin-left: 5rem;
  width: 60%;
  height: 580px;
  padding: 8px;
  position: relative;
 
}
.presentacion p {
  margin-top: 5rem;
  font-size: 40px;
  color: white;
}


.presentacion img {
  position: relative; 
  padding-left: 5rem;
  height: 450px; 
  bottom: 200px;
  left: 100%; 
}

#hero{
  min-height: 100vh;
  position: relative;

}

video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1700px) {
 
  .presentacion img {
    width: 500px;
  }
}
@media (max-width: 1460px) {
 
  .presentacion img {
    width: 450px;

  }
}
@media (max-width: 1370px) {
  .presentacion {
    display: block;
    margin-left: 5rem;
    width: 90%;
    height: 580px;
    padding: 8px;
    position: relative;
  }

  .presentacion img {
    width: 400px;
    left: 30%;
    bottom: 0;
    height:300px;
  }
}
@media (max-width: 1030px) {
  .presentacion {
    display: block;
    margin-left: 3rem;
    width: 90%;
    height: 580px;
    padding: 8px;
    position: relative;
  }

  .presentacion img {
    left: 30%;
    bottom: 40px;
    height:280px;
  }
  footer{
    padding-top: 4rem;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 990px) {
  .presentacion {
    margin-left: 0;
    width: 100%;
  }
  .presentacion p {
   font-size: 20px;
  }
  .presentacion img {
    position: static;
    width: 100%;
    height: auto;
    padding-left: 0;
    left: 0;
  }
  footer{
 display: none;
  }
}

/*Estilo de vista de skills*/
.skills{
  background-color:rgb(30, 0, 36);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  color: white;
}

.image-container1 {
  
  display: inline-block;
  padding-top: 5rem;
  margin: 4.7rem;
}
.image-container1 img{
 height: 200px;
}

.image-container2 {
  display: inline-block;
  padding-top: 5rem;
  margin: 6rem;
}
.image-container2 img{
  height: 200px;
 }
  @media (max-width: 1690px) {
  .skills {
    padding-top: 2rem;

  }
  img{
    width: 250px;
    object-fit: cover;
  }

  .image-container1{
  display: inline-block;
  padding-top: 3rem;
  margin: 3.5rem;
}
  .image-container2 {
    display: inline-block;
    padding-top: 3rem;
    margin: 7rem;
  }}

  @media (max-width: 1610px) {
  
    .image-container1{
    display: inline-block;
    padding-top: 3rem;
    margin: 3.5rem;
  }
    .image-container2 {
      display: inline-block;
      padding-top: 3rem;
      margin: 6.5rem;
    }}
    @media (max-width: 1450px) {
  
      .image-container1{
      display: inline-block;
      padding-top: 3rem;
      margin: 2.5rem;
    }
      .image-container2 {
        display: inline-block;
        padding-top: 2rem;
        margin: 6rem;
      }}

      @media (max-width: 1370px) {
  
        .image-container1{
        display: inline-block;
        padding-top: 3rem;
        margin: 2rem;
      }
        .image-container2 {
          display: inline-block;
          padding-top: 2rem;
          margin: 4.5rem;
        }}
        @media (max-width: 1034px) {
  
          .image-container1{
          display: inline-block;
          padding-top: 3rem;
          margin: 3rem;
        }
          .image-container2 {
            display: inline-block;
            padding-top: 2rem;
            margin: 4.5rem;
          }}

 @media (max-width: 767px) {
  .skills {
    text-align: center;
    padding-top: 2rem;
  }
  img{
    width: 250px;
  }

  .image-container1,
  .image-container2 {
    display: block;
    text-align: center;
    margin: 0 auto; 
  }
}
 /*Estilos de vista Proyects*/
 .image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 3rem;
  padding: 10rem;

}

@media screen and (max-width: 600px) {
 .image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-container img {
  max-width: 100%;
  object-fit: cover;
  height: auto;
}
/* Estilos de vista About */
.about-container {
  display: flex;
  box-shadow: 0 0 10px rgba(120, 0, 145, 0.8); 
  justify-content: space-between;
  margin: 1rem;
}
.about-container p {
  font-size: 30px;
}
.about-content {
  flex: 1;
  padding: 2rem;
}

.about-content img {
 margin-left: 10rem;
  height: auto;
}

@media (max-width: 767px) {
  .about-container {
    flex-direction: column; 
  }

  .about-content {
    padding: 2rem;
    text-align: center;
  }
  .about-content img {
    margin-left: 0;
    max-width: 100% ;  
    height: auto ;
  }
}

/*Estilos de vista de Contact*/
.contact-container {
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
}

.contact-content {
  flex: 1;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(120, 0, 145, 0.8); 
}
.contact-content1 {
 
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(120, 0, 145, 0.8); 
}
.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-input {
  margin-bottom: 10px;
}

.contact-message {
  height: 200px;
}
.social-container{
  display: flex;
  text-align: center;
  flex-direction: column;
}
.social-button {
  display: block;
  margin-bottom: 10px;
  padding-top: 3rem;
}
.texto-gracias {
  font-weight: bold;

  text-align: center;
}
button {
  --color: #560bad;
  font-family: inherit;
  display: inline-block;
  width: 8em;
  height: 2.6em;
  line-height: 2.5em;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--color);
  transition: color .5s;
  z-index: 1;
  font-size: 17px;
  border-radius: 6px;
  font-weight: 500;
  color: var(--color);
 }
 
 button:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: var(--color);
  height: 150px;
  width: 200px;
  border-radius: 50%;
 }
 
 button:hover {
  color: #fff;
 }
 
 button:before {
  top: 100%;
  left: 100%;
  transition: all .7s;
 }
 
 button:hover:before {
  top: -30px;
  left: -30px;
 }
 
 button:active:before {
  background: #3a0ca3;
  transition: background 0s;
 }

@media (max-width: 767px) {
  .contact-container {
    flex-direction: column; 
  }
  .contact-container1 {
    flex-direction: column; 
    width: 1px !important;
  }
  .social-container{
    display: flex;
    flex: 1;
    text-align: center;
    flex-direction: column;
  }

}